html {
  background-color: black;
  font-family: Verdana;
  color: white;
  text-align: center;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-size: 21px;
  color: gray;
}

.link {
  color: aquamarine;
}

.copyright {
  text-align: right;
}
